*, *:before, *:after {
box-sizing: border-box;
}
body {
  background-color: white;
  font-family: sans-serif;
  font size: 15px;
}
.container {
  margin: 0 auto;
  width: 375px;
  background-color: #FAFAFB;
  padding-bottom: 10px;
}

.category{
  padding-top:15px;
  padding-bottom:15px;
  color: #545454;
}
.box-header-icon {
  width: 70%;
  display: inline-block;
  float: left;
}
.box-bus-line-icon {
  width:20%;
  float:left;
  display: inline-block;
}

.category{
  width: 30%;
  display:inline-block;
}
h1 {
  font-size: 20px;
}
nav {
  background-color:#5271CE;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
}

.container-header-icons{
  width:20%;
  padding-top:25px;
  display:inline-block;
  float:left;
}

.container-header {
  padding-top: 20px;
  width: 80%;
  display: inline-block;
}
.box-content-child {
  border-bottom: 1px solid #979797;
  padding: 10px;
  font-size:14px;
  padding-bottom:30px;
}

.box-header{
  border-bottom:1px solid #979797;
  padding:10px;
  background-color: #ECECEC;
}

.box{
  margin:10px;
  border: 1px solid #979797;
  background-color:#FFFFFF;
}
.box-content-grandchild-1{
  width:70%;
  display:inline-block;
  float:left;
}

.bus-line-icon{
  width:17%;
  display:inline-block;
  float:left;
}
.destination{
  width:60%;
  display:inline-block;
}

.arrow-right{
  float:right;
}
#box-content-5{
  padding-bottom:10px;
}


#navy-pier-1, #devon-clark, #navy-pier-2, #streeterville-taylor, #jackson-park{
  border-bottom: none;
}

#bus-60, #bus-60-body{
color: #922E8F;
}
#bus-124, #bus-124-body, #bus-124-2, #bus-124-body-2{
  color: #FBA529;
}
#bus-151, #bus-151-body {
  color: #00549C;
}
#bus-j14, #bus-j14-body {
  color:#00864F;
}
#bus-6x, #bus-6x-body {
  color:#D51B46;
}
#bus-4, #bus-4-body{
  color: #68A2C2;
}
#bus-20, #bus-20-body{
  color: #EA837F;
}
#bus-157, #bus-157-body{
  color: #139797;
}
.arrival, .resume {
  color: green;
}
.arrow-right{
  color: #CCCCCC;
}
.frequency, .destination{
  color: #545454;
}
#box3{
  border-top: 1px solid #979797;
}
