*, *:before, *:after {
box-sizing: border-box;
}
body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font size: 15px;
}
.container {
  margin: 0 auto;
  width: 375px;
  background-color: #FAFAFB;
  padding-bottom: 10px;
}

.category{
  color: #545454;
  display:inline-block;
  width:29%;
}
.box-header-icon {
  width: 68.8%;
  display: inline-block;
}
.box-bus-line-icon {
  width:20%;
  float:left;
  display: inline-block;
}

h1 {
  font-size: 20px;
}
nav {
  background-color:#5271CE;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  padding-top:25px;
}


.container-header-icons{
  width:25%;
  padding-top:3px;
  display:inline-block;
  float:left;
}

.container-header {
  /**padding-top: 25px;**/
  width: 75%;
  display: inline-block;
}
.box-content-child {
  border-bottom: 1px solid #979797;
  padding: 10px;
  font-size:14px;
  /**padding-bottom:24px;**/
}

.box-header{
  border-bottom:1px solid #979797;
  padding:12px;
  background-color: #ECECEC;
}

.box{
  margin:10px;
  border: 1px solid #979797;
  background-color:#FFFFFF;
}
.bus-line-destination{
  width:70%;
  display:inline-block;
  float:left;
}

.bus-line-icon{
  width:20%;
  display:inline-block;
  float:left;
}
.bus-square {
  color: white;
  width:40px;
  text-align:center;
  /**padding-left: 10px;
  padding-right:10px;**/
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  padding-top:3px;
  padding-bottom:3px;
}

.bus-body{
  font-size:13px;
  margin-right:5px;
  width:30px;
}
.bus-line-destination{
  width:70%;
  display:inline-block;
}
.destination{
  display:inline-block;
  width:60%;
}
.arrow-right{
  float:right;
  margin-top: -21px;
}
.minute{
  display:inline;
}
.arrival {
  padding-bottom:2px;
}
#navy-pier-1, #devon-clark, #navy-pier-2, #streeterville-taylor, #jackson-park{
  border-bottom: none;
}

#bus-60, #bus-60-body{
background-color: #922E8F;
}
#bus-124, #bus-124-body, #bus-124-2, #bus-124-body-2{
  background-color: #FBA529;
}
#bus-151, #bus-151-body {
  background-color: #00549C;
}
#bus-j14, #bus-j14-body {
  background-color:#00864F;
}
#bus-6x, #bus-6x-body {
  background-color:#D51B46;
}
#bus-4, #bus-4-body{
  background-color: #68A2C2;
}
#bus-20, #bus-20-body{
  background-color: #EA837F;
}
#bus-157, #bus-157-body{
  background-color: #139797;
}
.arrival, .resume {
  color: green;
}
.arrow-right{
  color: #CCCCCC;
}
.frequency, .destination{
  color: #545454;
  font-size:13px;
}
.spacing-fix{
  /**padding-bottom:2px;**/
}
.resume{
  padding-top:9px;
  padding-bottom:9px;
}
#na{
  padding-top:9px;
  padding-bottom:9px;
}
